<!DOCTYPE html>
<html lang="en" data-theme="lofi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS 3 CRUD Manager</title>
    <link rel="stylesheet" href="css/app.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body id="app" v-cloak>
    <div class="flex flex-col min-h-screen justify-between bg-base-200">

        <header>
            <div class="navbar bg-base-100 shadow">
                <div class="navbar-start">
                    <div class="dropdown">
                        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h7" />
                            </svg>
                        </div>
                        <ul tabindex="0"
                            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                            <li>
                                <a href="#" :class="{ active: showHome }" @click.prevent="goToHome">Home</a>
                            </li>
                            <li>
                                <a><a href="#" :class="{ active: showCreateForm || showStudentsList }"
                                        @click.prevent="goToStudentsList">Students manager</a></a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex-1">
                        <a class="btn btn-ghost text-md lg:text-xl" @click.prevent="goToHome">CRUD Manager</a>
                    </div>
                </div>
                <div class="navbar-center hidden lg:flex">
                    <ul class="menu menu-horizontal px-1">
                        <li>
                            <a href="#" :class="{ active: showHome }" @click.prevent="goToHome">Home</a>
                        </li>
                        <li>
                            <a href="#" :class="{ active: showCreateForm || showStudentsList }"
                                @click.prevent="goToStudentsList">Students manager</a>
                        </li>
                        <!-- <li>
                            <details>
                                <summary>Parent</summary>
                                <ul class="p-2">
                                    <li><a>Submenu 1</a></li>
                                    <li><a>Submenu 2</a></li>
                                </ul>
                            </details>
                        </li> -->
                    </ul>
                </div>
                <div class="navbar-end">
                    <div class="flex-none gap-2">
                        <div class="form-control">
                            <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="content w-auto">
            <div class="hero" v-if="showHome">
                <div class="hero-content text-center my-8">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold">Welcome,</h1>
                        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                            exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                        <button class="btn btn-primary" @click.prevent="goToStudentsList">Students manager</button>
                    </div>
                </div>
            </div>

            <div class="student-card mx-auto" v-if="showCreateForm || showStudentsList">
                <div class="student-form form w-2/3 mx-auto flex justify-center my-8" v-if="showCreateForm">
                    <div class="student-form card shrink-0 w-full shadow-2xl bg-base-100">
                        <form class="card-body">
                            <h2 class="form-title text-2xl font-semibold mb-4">Create students form
                            </h2>
                            <div class="flex flex-col mx-auto lg:flex-row gap-4 w-10/12">
                                <div class="form-control w-full">
                                    <label class="label" for="inputName">
                                        <span class="label-text">Name</span>
                                    </label>
                                    <input type="text" id="inputName" name="inputName" class="input input-bordered"
                                        required />
                                </div>
                                <div class="form-control w-full">
                                    <label class="label" for="inputFirstname">
                                        <span class="label-text">Firstname</span>
                                    </label>
                                    <input type="text" id="inputFirstname" name="inputFirstname"
                                        class="input input-bordered" required />
                                </div>
                            </div>
                            <div class="flex flex-col mx-auto lg:flex-row gap-4 w-10/12">
                                <div class="form-control w-full">
                                    <label class="label" for="inputBirthdate">
                                        <span class="label-text">Birthdate</span>
                                    </label>
                                    <input type="date" id="inputBirthdate" name="inputBirthdate"
                                        class="input input-bordered" required />
                                </div>
                                <div class="form-control w-full">
                                    <label class="label" for="selectLevel">
                                        <span class="label-text">Scholar level</span>
                                    </label>
                                    <select name="selectLevel" id="selectLevel" class="select select-bordered" required>
                                        <option value=""></option>
                                        <option value="Terminal A">Terminal A</option>
                                        <option value="Terminal B">Terminal B</option>
                                        <option value="Terminal C">Terminal C</option>
                                        <option value="First A">First A</option>
                                        <option value="First B">First B</option>
                                        <option value="First C">First C</option>
                                        <option value="Second A">Second A</option>
                                        <option value="Second B">Second B</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-control w-10/12 mt-6 flex flex-col mx-auto lg:flex-row gap-4">
                                <button class="btn btn-primary w-full lg:w-1/3">Create</button>
                                <button class="btn btn-primary w-full lg:w-1/3" @click.prevent="goToStudentsList">Return
                                    to the
                                    list</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="student-table w-2/3 mx-auto my-8" v-if="showStudentsList">
                    <div class="card shrink-0 w-full shadow-2xl bg-base-100">
                        <div class="card-body">
                            <div class="flex flex-col lg:flex-row justify-between">
                                <h2 class="table-title text-2xl font-semibold mt-12 mb-4">Students list</h2>
                                <div class="flex flex-wrap gap-4">
                                    <a href="#" class="btn btn-primary" @click.prevent="goToCreateForm">Create a
                                        student</a>
                                    <input type="text" placeholder="Search" class="input input-bordered max-w-96" />
                                </div>
                            </div>
                            <div class="overflow-x-auto">
                                <table class="table">
                                    <thead class="text-lg">
                                        <tr>
                                            <th class="text-center"></th>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Firstname</th>
                                            <th class="text-center">Birthdate</th>
                                            <th class="text-center">Scholar level</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="text-center">1</th>
                                            <th class="text-center">Test</th>
                                            <td class="text-center">Test</td>
                                            <td class="text-center">Test</td>
                                            <td class="text-center">Test</td>
                                            <td class="text-center flex flex-row gap-4 justify-center">
                                                <button class="btn btn-primary">Edit</button>
                                                <button class="btn btn-primary">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>

        <footer class="footer footer-center p-4 bg-base-300 bottom-0 mt-auto text-base-content">
            <aside>
                <p>Copyright © 2024 - All right reserved</p>
            </aside>
        </footer>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/app.js"></script>
</body>

</html>